h1{
    text-align: center;
    background-color: rosybrown;
    font-family: 'Righteous', cursive;
    padding: 3%;
}

.btn{
    border-color: #5a1f36;
    background-color: #f1f3f4;
    font-weight:bolder;
    text-decoration:none;
    color: #5a1f36;
}

.btn:hover{
    background-color: #5a1f36;
    border-color: #5a1f36;
    color: white;
}

video{
    display: block;
    margin-left: 25%;
    height: 50%;
    width: 50%;
}
.botao{
    justify-content: center;
    display: center;
    margin-left: 40%;
}

footer{
    background-color: rosybrown;
    margin-block-start: 1.8%;
    display: fixed;
    color: #5a1f36;
}


body{
    background-color: rgb(251, 226, 235);
    color: #5a1f36;
}